:root {
  --main-color: #758a96;
  --second-color: #d3d6c7;
  --third-color: #6F8579;
  --main-darker: #3E5462;
  --second-lighter: #f1f2eb;
  --lightest-color: #fff;
  --darkest-color: #191e22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightest-color);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
a, button, img, span, li, div, i, h4 { transition: all 0.5s ease-in-out; }
a { text-decoration: none; color: var(--main-color); }
a:hover { color: var(--third-color); }
button:hover { cursor: pointer; }

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  position: relative;
}


/* H TAGS */
h1, h4, h5 {
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
}
h2, h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-style: italic;
}


/* HEADER */
header {
  background-color: var(--main-color);
  background-image: url("assets/images/header.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  text-shadow: 1px 1px 1px var(--darkest-color);
  text-align: center;
  overflow: hidden;
  position: relative;
}
.title {
  width: 100%;
  margin: 50px auto 150px;
  order: 2;
  z-index: 1;
}
.title h1 {
  color: var(--lightest-color);
  font-size: 5.5em;
  margin: 0 auto;
  letter-spacing: -2px;
}
.title h1 a, .title h1 a:hover {
  color: var(--lightest-color);
}
.title h2 {
  color: var(--lightest-color);
  text-transform: lowercase;
  font-size: 1.6em;
  line-height: 1;
}
nav {
  width: 100%;
  margin: 50px auto;
  text-transform: uppercase;
  z-index: 1;
}
nav ul li {
  display: inline-block;
  margin: 10px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 20px;
}
nav ul li a {
  padding: 5px 10px 3px;
  color: var(--lightest-color);
}
nav ul li a:hover, nav ul li a.active {
  color: var(--lightest-color);
  background-color: var(--main-color);
}
nav ul li a.active {
  pointer-events: none;
}
.small-light {
  position: absolute;
  color: var(--lightest-color);
  text-shadow: none;
  filter: blur(2px);
}
#small-lights {
  position: relative;
  width: 100%;
  animation: small-lights-move 45s linear infinite;
}
.small-light:hover { cursor: default; }
@keyframes small-lights-move {
  0% { top: 20vh; opacity: 0; }
  50% { opacity: .9; transform: scale(1.2); }
  100% { top: -30vh; opacity: 0; }
}


/* SECTIONS */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1220px; max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
section h3 {
  font-size: 2.6em;
  color: var(--main-color);
  margin: 0 10px 10px;
  width: calc(100% - 20px);
}
section.about-me h3 {
  font-size: 2.1em;
  color: var(--main-darker);
}
.wide {
  width: 100%;
  background-color: var(--lightest-color);
}


/* ABOUT */
.about-me { padding: 0 20px; }
.main-content {
  padding: 10px;
}
.main-content p {
  padding: 10px;
}

/* ABOUT SIDE INFO */
.quick-info {
  text-align: center;
  display: flex;
}
.quick-info img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid var(--second-color);
}
.self-image {
  margin: -100px 0 0;
  width: 180px;
}
.info-box {
  color: var(--main-color);
  margin: 25px 0;
  flex: 1;
}
.info-box h4 {
  font-size: 28px;
}
.info-box p {
  font-family: 'Libre Baskerville', serif;
  line-height: 1;
  font-size: 18px;
  font-style: italic;
}
p.about-text {
  color:var(--third-color);
  padding: 0 0 40px;
}
.self-image::after {
  content: "";
  display: block;
  background-image: url("assets/images/leaf-blue.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 54px;
  margin: -28px 0 20px;
  z-index: 9;
  position: relative;
}
p.about-text::before {
  content: "";
  display: block;
  background-image: url("assets/images/leaf-beige.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 34px;
  margin: 10px 0 20px;
}
.quick-skills {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin: 10px 10px 0;
}
.quick-skills li {
  background-color: var(--main-darker);
  color: var(--lightest-color);
  flex: 1;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0;
  font-weight: bold;
}
.quick-skills li:nth-child(3n - 1) {
  background-color: var(--third-color);
}
.quick-skills li:nth-child(3n) {
  background-color: var(--second-color);
  color: var(--main-darker);
  text-shadow: 1px 1px rgba(255,255,255,.5);
}
.quick-skills li:hover {
  border-radius: 0 20px;
}


/* PORTFOLIO */
.portfolio-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.portfolio-boxes a {
  color: var(--lightest-color);
  text-decoration: none;
}
.portfolio-box {
  opacity: 1;
  margin: 5px;
  width: calc(50% - 10px);
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--second-color);
}
.portfolio-box img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
.portfolio-overlay {
  background-color: rgba(255,255,255,0);
  position: absolute;
  width: 100%;
  aspect-ratio: 16 / 9;
  outline-offset: -6px;
  outline: 1px solid var(--main-color);
  opacity: 0;
}

.portfolio-text {
  position: absolute;
  left: -100%;
  bottom: 0;
  padding: 30px;
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-shadow: 1px 1px 1px var(--lightest-color);
}
.portfolio-text h4 {
  font-size: 2.5em;
  text-transform: none;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}
.portfolio-text h4 a {
  color: var(--main-darker);
}
.portfolio-text h4 a:hover {
  color: var(--main-color);
}
.portfolio-text h4 i.gh-link {
  margin: 0 0 0 10px;
  color: var(--third-color)
}
.portfolio-text h4 i.gh-link:hover {
  color: var(--main-color);
}
.portfolio-text p {
  display: block;
  margin: 8px 0 0;
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
}
.portfolio-text p span {
  background-color: var(--lightest-color);
  color: var(--main-color);
  padding: 5px 7px;
  margin: 2px;
  display: inline-block;
  border-radius: 10px 0;
}
.portfolio-text p span {
  cursor: default;
}

.portfolio-box:hover {
  transform: scale(1.03);
}
.portfolio-box:hover .portfolio-text {
  left: 0;
}
.portfolio-box:hover .portfolio-overlay {
  background-color: rgba(255,255,255,.75);
  opacity: 1;
}
.portfolio-box:hover img {
  filter: blur(2px);
}


/* CONTACT */
#contact p {
  text-align: left;
  width: 100%;
  padding: 10px 15px;
}
#contact h4 {
  width: 100%;
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 30px 15px 0;
}
form.contact-form {
  width: 700px; max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
form.contact-form label {
  display: block;
  margin: 15px 0 5px;
}
form.contact-form .required { color: #C14762; }
form.contact-form input, form.contact-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--second-color);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: var(--main-darker);
}
form.contact-form textarea {
  resize: none;
  line-height: 1.3;
  height: 124px;
}
form.contact-form input:focus, form.contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 2px var(--second-lighter);
}
form.contact-form button {
  border: 0;
  background-color: var(--third-color);
  padding: 10px;
  font-size: 1em;
  color: var(--lightest-color);
  margin: 10px 0 0;
  font-weight: bold;
}
form.contact-form button:hover {
  background-color: var(--main-color);
  border-radius: 10px 0;
}
#contact ul {
  list-style-type: none;
  text-align: left;
  width: 100%;
  margin: 5px 15px;
}
#contact ul li {
  display: inline-block;
}
#contact ul li a {
  background-color: var(--main-darker);
  color: var(--lightest-color);
  padding: 8px;
  margin: 0 5px 5px 0;
  display: block;
}
#contact ul li a:hover {
  background-color: var(--third-color);
  color: var(--second-lighter);
  border-radius: 0 10px;
}
#contact ul li i { font-size: 1.2em; }
#contact .error {
  padding: 10px 0;
  font-style: italic;
}
#contact .error::first-letter { text-transform: uppercase; }


/* RESUME */
.resume {
  display: flex;
  flex-wrap: wrap;
}
.resume .sidebar {
  list-style-type: none;
  align-self: flex-start;
  position: sticky;
  top: 0;
  padding: 10px 50px 0 0;
  margin: -10px 0 0;
}
.resume .sidebar li {
  padding: 0 5px 15px;
}
.resume .sidebar button {
  text-transform: capitalize;
  background: none;
  border: none;
  font-size: 1em;
  padding: 0 0 3px;
  font-weight: bold;
  color: var(--main-darker);
  border-bottom: 5px solid var(--second-color);
}
.resume .sidebar button:hover { border-bottom-color: var(--main-color); }
.resume .content {
  flex-grow: 1;
  text-align: center;
}
.resume .content p.download {
  text-align: left;
  margin: 0 0 20px 0;
}
.resume .content p.download a {
  background-color: var(--third-color);
  color: var(--second-lighter);
  padding: 10px;
  margin: 5px 0 0;
  display: inline-block;
}
.resume .content p.download a:hover {
  background-color: var(--main-darker);
}
.resume .content h4 {
  font-family: 'Hammersmith One', sans-serif;
  text-transform: capitalize;
  font-size: 2em;
  padding: 5px 0 ;
  margin-top: -10px;
  color: var(--main-darker);
  text-align: left;
}
.resume .content h4:not(:first-child) { margin-top: 5px; }
.resume .content .disp {
  background-color: rgba(241,242,235,.2);
  border: 1px solid var(--second-lighter);
  padding: 20px;
  margin: 0 0 8px;
  border-radius: 0 20px;
  text-align: left;
}
.resume .content h5 { 
  background-color: var(--main-color);
  display: inline-block;
  padding: 8px 8px 6px;
  color: var(--lightest-color);
  border-radius: 10px 0;
  font-size: 1em;
  margin: 0 10px 10px 0;
}
.resume .content h6 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5em;
  text-transform: none;
  font-weight: normal;
  font-style: italic;
  color: var(--third-color);
  display: inline-block;
  line-height: 1;
  padding: 0 0 10px;
}
.resume .content span.certification {
  display: block;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  line-height: 1;
  margin: 0 0 6px;
}
.resume .content p span {
  color: var(--main-color);
  display: block;
  font-style: italic;
}
.resume .content .skills {
  overflow: hidden;
  padding: 10px;
}
.resume .content .skl-title button {
  background: none;
  border: none;
  font-size: 1em;
  margin: 5px;
}
.resume .content .skl-title button::before { display: none; }
.resume .content .skl-title button span {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
}
.resume .content .skl-title button i {
  padding: 0 0 0 8px;
}
.resume .content .skl-body {
  list-style-type: none;
  overflow: hidden;
  height: 1px;
  transition: all 0.3s ease-in-out; 
}
.resume .content .skl-body li {
  margin: 5px;
}
.resume .content .skl-body li i {
  color: var(--main-color);
  margin-right: 5px;
  font-size: .9em;
}
.resume .content .leaf {
  width: 50px;
  margin: 15px auto;
}


/* FOOTER */
footer {
  background-color: var(--main-darker);
  padding: 25px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}
footer a, footer button {
  color: var(--second-color);
  text-decoration: none;
  background: none;
  border: none;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 1em;
}
footer a:hover, footer button:hover { 
  color: var(--lightest-color);
}
footer ul li {
  display: inline-block;
  margin: 0;
  color: var(--lightest-color);
}
footer ul li i {
  margin-left: 8px;
}
footer .socials {
  font-size: 2em;
  margin: 0 0 10px;
}
footer .socials i {
  margin: 0 5px;
}
footer .socials a {
  color: var(--lightest-color);
}
footer .socials a:hover { 
  opacity: 0.7;
}
.foot-info ul li:not(:last-child)::after {
  content: " \2022 ";
  font-size: 0.8em;
  margin-left: 5px;
  color: var(--main-color)
}

body.stop-transitions * {
  transition: none !important;
}


/* ADDITIONAL STYLING */
::-moz-selection {
  color: var(--lightest-color);
  background: var(--main-darker);
}
::selection {
  color: var(--lightest-color);
  background: var(--main-darker);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--lightest-color);
}
::-webkit-scrollbar-thumb {
  background: var(--second-color);
  border-radius: 5px;
  border: 1px solid var(--lightest-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}


/* PAGE TRANSITIONS */
.slide-enter { 
  transition: all 800ms;
  transform: translateX(100%);
}
.slide-enter-active, .slide-exit {
  transition: all 800ms;
  transform: translateX(0);
}
.slide-exit-active {
  transform: translateX(-100%);
  transition: all 800ms;
}
.slide-enter-active, .slide-exit-active{
  position: absolute;
  top: 0; left: 0;
}


/* RESPONSIVE */
/* 1280 */
@media screen and (max-width: 1280px) {
  nav ul li {
      font-size: 24px;
  }
}

/* 920 */
@media screen and (max-width: 920px) {
  .portfolio-text h4 {
    font-size: 2em;
  }
  .portfolio-text p {
    font-size: .9em;
  }
  .portfolio-text p span {
    padding: 3px 5px;
  }
}

/* 800 */
@media screen and (max-width: 800px) {
  body {
      font-size: 18px;
  }
  .title {
      margin: 30px auto 100px;
  }
  .main-content {
      max-width: calc(100% - 20px);
  }
  .self-image {
    margin: -50px 0 0;
    width: 150px;
  }
  .portfolio-text {
    padding: 20px;
  }
  .portfolio-text h4 {
    font-size: 1.7em;
  }
  .portfolio-text h4 i.gh-link {
    margin: 0 0 0 5px;
  }
  .contact-links {
      text-align: center;
      width: calc(50% - 10px);
      padding: 5px;
  }
  .contact-links:first-of-type { width: calc(100% - 10px); }
  .contact-links ul li:first-of-type {
      padding-top: 15px;
  }
  footer ul li {
      display: block;
      padding: 5px 0;
  }
  footer i {
    margin-left: 0;
  }
  .foot-info ul li:not(:last-child)::after {
      display: none;
  }
}

/* 740 */
@media screen and (max-width: 740px) {
  .portfolio-box {
    width: calc(100% - 10px);
  }
  .quick-skills li {
    flex: 1 33%;
  }
}

/* 740 to 500 */
@media screen and (max-width: 740px) and (min-width: 500px) {
  .portfolio-text h4 {
    font-size: 2.2em;
  }
  .portfolio-text {
    padding: 30px;
  }
  .portfolio-text p {
    font-size: 1em;
  }
  .portfolio-box {
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 740px) {
  .small-light {
    display: none;
  }
  @keyframes small-lights-move {
    100% { display: none; }
  }
}

/* 600 */
@media screen and (max-width: 600px) {
  nav {
      margin: 30px auto;
  }
  .title {
      margin: 20px auto 80px;
  }
  .title h1 {
    font-size: 3.5em;
  }
  .title h2 {
    font-size: 1.3em;
  }
  .quick-info {
    display: grid;
  }
  .self-image {
    margin: 15px 10px 0 0;
    grid-row: 1 / 3;
  }
  .info-box {
    margin: 15px 0;
  }
  #info-1 { grid-column: 2; }
  #info-2 { grid-column: 3; }
  #info-3 { grid-row: 2; grid-column: 2 / 4; margin-top: 0; }
  .resume .sidebar {
    padding: 10px 0 0;
    margin: 0 0 10px;
    width: 100%;
    z-index: 2;
    background-color: var(--lightest-color);
  }
  .resume .sidebar li {
    display: inline-block;
    margin: 0 5px 0 0;
  }
  header .light-base { display: none; }
}

/* 500 */
@media screen and (max-width: 500px) {
  .portfolio-text {
    padding: 15px;
  }
  .portfolio-text h4 {
    font-size: 1.6em;
  }
  .portfolio-text p {
    font-size: .8em;
  }
  .portfolio-text p span {
    padding: 3px 5px;
  }
}

/* 400 */
@media screen and (max-width: 400px) {
  section.about-me h3 {
    margin-top: 20px;
  }
  .quick-info {
    display: block;
    order: 2;
  }
  .self-image {
    margin: 10px 70px 0;
    width: calc(100% - 140px);
  }
  .info-box {
    margin: 10px 0;
    display: inline-block;
    padding: 0 10px 10px;
  }
  .info-box:not(:last-child) {
    border-bottom: 1px solid var(--second-color);
  }
  .contact-links {
      width: calc(100% - 10px);
  }
}

/* 360 */
@media screen and (max-width: 360px) {
  .quick-skills li {
    flex: 1 100%;
  }
  .portfolio-text h4 {
    font-size: 1.2em;
  }
  .portfolio-text p {
    font-size: .7em;
  }
}