:root {
  --main-color: #758a96;
  --second-color: #d3d6c7;
  --third-color: #5f653d;
  --main-darker: #3d5461;
  --lightest-color: #fff;
  --darkest-color: #191e22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightest-color);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
a, button, img, span, li, div, i, h4 { transition: all 0.5s ease-out; }
a { text-decoration: none; color: var(--main-color); }
a:hover { color: var(--third-color); }

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}


/* H TAGS */
h1, h4, h5 {
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
}
h2, h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}


/* HEADER */
header {
  background-color: var(--main-color);
  background-image: url("assets/images/header.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  text-shadow: 1px 1px 1px var(--darkest-color);
  text-align: center;
}
.title {
  width: 100%;
  margin: 50px auto 150px;
  order: 2;
}
.title h1 {
  color: var(--lightest-color);
  font-size: 5.5em;
  margin: 0 auto;
  letter-spacing: -2px;
}
.title h1 a, .title h1 a:hover {
  color: var(--lightest-color);
}
.title h2 {
  color: var(--lightest-color);
  text-transform: lowercase;
  font-size: 1.6em;
  line-height: 1;
}
nav {
  width: 100%;
  margin: 50px auto;
  text-transform: uppercase;
}
nav ul li {
  display: inline-block;
  margin: 10px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 20px;
}
nav ul li span {
  padding: 5px 10px 3px;
  color: var(--lightest-color);
}
nav ul li span:hover, nav ul li span.active {
  color: var(--lightest-color);
  background-color: var(--main-color);
}
nav ul li span:hover {
  cursor: pointer;
}
nav ul li span.active:hover {
  cursor: default;
}


/* SECTIONS */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1220px; max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
section:not(:last-child) {
  border-bottom: 1px solid var(--second-color);
}
section h3 {
  font-size: 32px;
  color: var(--main-darker);
  margin: 10px;
  width: calc(100% - 20px);
}


/* ABOUT */
.about-me { padding: 0 20px; }
.main-content {
  padding: 10px;
}
.main-content p {
  padding: 10px;
}

/* ABOUT SIDE INFO */
.quick-info {
  text-align: center;
  display: flex;
}
.quick-info img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid var(--second-color);
}
.self-image {
  margin: -100px 0 0;
  width: 180px;
}
.info-box {
  color: var(--main-color);
  margin: 25px 0;
  flex: 1;
}
.info-box h4 {
  font-size: 28px;
}
.info-box p {
  font-family: 'Libre Baskerville', serif;
  line-height: 1;
  font-size: 18px;
}
p.about-text {
  color:var(--third-color);
  padding: 0 0 40px;
}
.self-image::after {
  content: "";
  display: block;
  background-image: url("assets/images/leaf-blue.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 54px;
  margin: -28px 0 20px;
  z-index: 9;
  position: relative;
}
p.about-text::before {
  content: "";
  display: block;
  background-image: url("assets/images/leaf-beige.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 34px;
  margin: 10px 0 20px;
}
.quick-skills {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin: 10px 10px 0;
}
.quick-skills li {
  background-color: var(--main-darker);
  color: var(--lightest-color);
  flex: 1;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0;
  font-weight: bold;
}
.quick-skills li:nth-child(3n - 1) {
  background-color: var(--third-color);
}
.quick-skills li:nth-child(3n) {
  background-color: var(--second-color);
  color: var(--main-darker);
  text-shadow: 1px 1px rgba(255,255,255,.5);
}
.quick-skills li:hover {
  border-radius: 0 20px;
}


/* PORTFOLIO */
.portfolio-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.portfolio-boxes a {
  color: var(--lightest-color);
  text-decoration: none;
}
.portfolio-box {
  opacity: 1;
  margin: 5px;
  width: calc(50% - 10px);
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--second-color);
}
.portfolio-box img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.portfolio-text {
  /* background: linear-gradient(rgba(117,138,150,0), rgba(117,138,150,0), rgba(117,138,150,1)); */
  background-color: rgba(255,255,255,0);
  position: absolute;
  left: -100%;
  bottom: 0;
  padding: 30px;
  width: 100%;
  aspect-ratio: 16 / 9;
  outline-offset: -6px;
  outline: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.portfolio-text h4 {
  font-size: 2.5em;
  text-transform: none;
  color: var(--main-darker);
}
.portfolio-text h4 i {
  color: var(--third-color)
}
.portfolio-text h4 i:hover {
  color: var(--main-color);
}
.portfolio-text p {
  display: block;
  margin: 8px 0 0;
  font-family: 'Libre Baskerville', serif;
}
.portfolio-text p span {
  background-color: var(--lightest-color);
  color: var(--main-color);
  padding: 5px 7px;
  margin: 2px;
  display: inline-block;
  border-radius: 10px 0;
}
.portfolio-text p span {
  cursor: default;
}

.portfolio-box:hover {
  transform: scale(1.03);
}
.portfolio-box:hover .portfolio-text {
  background-color: rgba(255,255,255,.75);
  left: 0;
}


/* FOOTER */
footer {
  background-color: var(--main-darker);
  padding: 25px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
footer a {
  color: var(--second-color);
  text-decoration: none;
}
footer a:hover { color: var(--lightest-color); }
footer ul li {
  display: inline-block;
  margin: 0;
  color: var(--lightest-color);
}
.foot-info ul li:not(:last-child)::after {
  content: " \2022 ";
  font-size: 0.8em;
}


/* ADDITIONAL STYLING */
::-moz-selection {
  color: var(--lightest-color);
  background: var(--main-darker);
}
::selection {
  color: var(--lightest-color);
  background: var(--main-darker);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--lightest-color);
}
::-webkit-scrollbar-thumb {
  background: var(--second-color);
  border-radius: 5px;
  border: 1px solid var(--lightest-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}